{% extends 'home/basic.html' %}
{% load static %}
{% block title %}YouTube Playlist Downloader - Playlist{% endblock %}
{% block body %}

<div class="load-container">
    <div class="load d-none" id="page_pre_loader">
        <hr />
        <hr />
        <hr />
        <hr />
        <!-- <h5>Please Wait ...</h5> -->
    </div>
</div>

<div class="playlist-input-container pb-5" id="playlist-input-container">
    <div class="container">
        <div class="container">
            <div class="form-and-playlist-result">
                <form action="" method="POST" class="my-5" id="playlist_form">
                    {% csrf_token %}
                    <label for="playlist">
                        <h4>YouTube Playlist Downloader by RK</h4>
                    </label> <br>
                    <label for="nothing">
                        <p>Download playlist from YouTube is very easy now ! <a href="/how-to-use">How to use ?</a></p>
                    </label>
                    <div class="form-group">
                        <input name="playlist_link_name" type="text" class="form-control" id="playlist_link_id"
                            placeholder="https://www.youtube.com/playlist?list=PLTjRvDozrdlynYXGUfyyMZdrQ0Sz27aud">
                    </div>
                    <label for="quality">Quality: </label>
                    <select name="playlist_quality" id="playlist_quality_id" class="playlist_quality">
                        <option value="720">720p</option>
                        <option value="480">480p No Audio</option>
                        <option value="360">360p</option>
                        <option value="240">240p No Audio</option>
                        <option value="144">144p No Audio</option>
                        <option value="128">Audio 128kb</option>
                    </select>
                    <label for="video_prefix_with_number">Prefix with number</label>
                    <input id="prefix_id" class="after-playlist-input" name="prefix" type="checkbox"
                        value="video_prefix_with_number" checked>
                    <label for="reduce_quality">Auto reduce Quality if not exist</label>
                    <input id="reduce_id" class="after-playlist-input" name="reduce" type="checkbox"
                        value="reduce_quality" checked>

                    <div class="form-grou">
                        <button type="submit" id="playlist_submit_button">Download</button>
                    </div>
                </form>
                <div id="playlist_result_container_id">
                    <h6>Tip 1: Ctrl + A copy and go FDM ->Menu -> Paste urls from clipboard it easy and simple now!</h6>
                    <h6>Tip 2: Ctrl + A copy and go IDM ->Tasks -> Add batch download from clipboard it easy and simple
                        now!
                    </h6>
                    <textarea class="form-control playlist-result-area mb-4" rows="10"
                        id="playlist_result_area_id"></textarea>
                    <div class="prog-container">
                        <div class="prog" id="prog">
                        </div>
                    </div>
                </div>
            </div>
            <!-- code -->
            <div class="single-single-video mt-5" id="single_single_video_id">
                <table id="single_video_table" class="w-100">
                    <col width="70">
                    <col width="100">
                    <col width="">
                    <col width="80">
                    <tr>
                        <th>Sl No</th>
                        <th>Thumbnail</th>
                        <th>Title</th>
                        <th>Download</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}